main {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  gap: 1rem;
}
textarea {
  height: clamp(100px, 30vh, 200px);
  padding: 1rem;
  font-size: 1rem;
}
.input {
  display: grid;
}
.output {
  display: grid;
}
